@import "null.css";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

.wraper {
   min-height: 100%;
   overflow: clip;
   display: flex;
   flex-direction: column;
   font-family: 'Lato';
   color: #323232;
}

.wraper>main {
   flex: 1 1 auto;
}

[class*="__container"] {
   max-width: 1260px;
   padding: 0 15px;
   margin: 0 auto;
}

.button {
   display: inline-block;
   padding: 18px 40px 18px 40px;
   background-color: #f70505;
   border-radius: 4px;
   font-weight: bold;
   color: #fff;
   transition: all 0.3s;
}
.button:hover {
   background-color: #a80a04;
   transition: all 0.3s;
}

.nav {
   min-width: 100%;
   position: fixed;
   background: #fda496;
}

.header__decors {
   position: relative;
   top: 0;
   left: 0;
}
.header-decor__icon-1 {
   position: absolute;
   top: 0;
   left:88.27272727% ;
   z-index: 10;
   width: 100px;
   height: 110px;
   background-image: url(/img/decore/shapes.svg);
}

.nav__container {
   display: flex;
   align-items: center;
   padding-top: 33px;
   padding-bottom: 30px;
   justify-content: space-evenly;
}

.nav__imeges {
   
}

.nav-images__img {
   max-width: 100%;
   display: flex;
   flex: 1 1 100%;
}

.nav__items {
   display: flex;
   flex: 1 1 20%;
   column-gap: 40px;
   margin-left: 60px;
}

.nav-items__menu {
   font-weight: bold;
   transition: all 0.3s;
}
.nav-items__menu:hover {
   color: #fff;
   transition: all 0.3s;
}

.nav-items__link {}

.nav__cta {
   display: flex;
   align-items: center;
}

.button-nav {}

.nav-cta__account {
   display: flex;
}

.account-one {
   margin-left: 36px;
   font-weight: bold;
   display: flex;
   transition: all 0.6s;
}

.account-one::before {
   content: url(/img/Person.svg);
   display: inline-block;
   width: 20px;
   height: 20px;
   margin-right: 8px;
}

.account-one::after {
   content: '/';
   margin: 0 8px 0 8px;
}

.account-one:hover {
   color: aliceblue;
   transition: all 0.6s;
}

.account-two {
   font-weight: bold;
   transition: all 0.6s;
}

.account-two:hover {
   color: aliceblue;
   transition: all 0.6s;
}

.menu__burger {
   display: block;
   width: 20px;
}

.menu-burger__line {
   display: none;
   height: 1.5px;
   background: #000;
}

.menu-burger__line::before{
   content: '';
   position: relative;
   display: block;
   width: 100%;
   top: -5px;
   width: 20px;
   height: 1.5px;
   background: #000;
}
.menu-burger__line::after {
   content: '';
   position: relative;
   display: block;
   width: 100%;
   top: 5px;
   width: 20px;
   height: 1.5px;
   background: #000;
}


.nav__form {
   display: none;
   width: 100%;
   position: absolute;
   transition: all 1s;
}

.nav__contant {
   max-width: 30%;
   padding: 0 15px;
   margin: 30px auto;
   display: block;
   border-radius: 7px;
   background-color: #ee6b1e;
   text-align: center;
}

.nav-form__block-email {
   margin-bottom: 20px;
}

.block-email__text {
   font-size: 18px;
   font-weight: bold;
   text-transform: uppercase;
   list-style: 1.5;
   padding-top: 20px;
   margin-bottom: 10px;
   color: aliceblue;
}

.nav-form__input-one {
   text-align: center;
   border-radius: 4px;
   padding: 10px;
}

.nav-form__block-password {
   margin-bottom: 20px;
}

.block-password__text {
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      list-style: 1.5;
      color: aliceblue;
      margin-bottom: 10px;
}
.nav-form__buttons {
   display: flex;
   flex-direction: column;
   row-gap: 10px;
}

.nav-form__next {
   display: inline-block;
   padding: 10px;
   background-color: #f90901;
   border-radius: 6px;
   color: #fff;
   font-weight: bold;
   transition: all 0.4s;
}

.nav-form__next:hover {
   transition: all 0.4s;
   background-color: #a80a04;
}

.nav-form__register {
   display: inline-block;
      padding: 10px;
      background-color: #f90901;
      border-radius: 6px;
      color: #fff;
      font-weight: bold;
      transition: all 0.4s;
      margin: 0 0 20px 0;
}

.nav-form__input-two{
      text-align: center;
      padding: 10px;
      border-radius: 4px;
}
.nav-form__register:hover {
   transition: all 0.4s;
   background-color: #a80a04;
}

.header-decor__icon-2 {
   position: absolute;
   width: 96px;
   height: 96px;
   top: 15.20833%;
   background-image: url(/img/decore/shapes2.svg);
}
.header-decor__icon-3 {
   position: absolute;
   top: 58.063829%;
   left:38.59090% ;
   width: 88px;
   height: 47px;
   background-image: url(/img/decore/shapes3.svg);
}
.header-decor__icon-4 {
   position: absolute;
   bottom: -18.1408450%;
   left: -0.2%;
   width: 284px;
   height: 284px;
   background-image: url(/img/decore/circles4.svg);
   background-repeat: no-repeat;
}
.header-decor__icon-5 {
   position: absolute;
   bottom: 17.80748%;
   right: 0.65693%;
   width: 187px;
   height: 137px;
   background-image: url(/img/decore/dots5.svg);
}
.header {
   position: relative;
   width: 100%;
   background: #fda496;
}

.header__container {
   padding-top: 150px;
   display: grid;
   grid-template-columns: repeat(2, auto);
   justify-content: space-between;
}


.play-video {
   display: flex;
   align-items: center;
   column-gap: 16px;
}
.play-video:not(:last-child) {
   margin-bottom: 40px;
}

.play-video__circle {
   width: 52px;
   height: 52px;
   border-radius: 50%;
   background-color: #f90901;
   background-image: url(../img/decore/Polygon.svg);
   background-repeat: no-repeat;
   background-position: 54%;
   cursor: pointer;
}

.palay-video__text {
   font-size: 14px;
   font-weight: 700;
   line-height: 21px;
}

.header__title {
   max-width: 496px;
   font-size: 64px;
   font-weight: bold;
   letter-spacing: 1px;
   line-height: 83px;
}
.header__title:not(:last-child) {
   margin-bottom: 60px;
}

.header__buttons {
   display: flex;
   column-gap: 24px;
}

.button {}

.button-header-1 {
   background-color: #fff;
   color: #f70505;
}
.button-header-1:hover {
   transition: all 0.3s;
   background-color: #a80a04;
   color: #fff;
}

.header__image {}

.header-image__img {
   max-width: 100%;
   display: flex;
   flex: 1 1 100%;
   margin-bottom: 190px;
}

.header-stat__container {
   position: relative;
   padding-bottom: 80px;
}

.header-stat__contant {
   display: flex;
   flex: 1 1 25%;
   column-gap: 12px;
   justify-content: space-between;
   align-items: center;
}

.header-stat__num {
   font-size: 46px;
   font-weight: 900;
   line-height: 60px;
}

.header-stat__text {
   line-height: 25.6px;
}

.header-stat__decore {
   width: 8px;
   height: 8px;
   border-radius: 50%;
   background-color: #f70505;
}



















@media (max-width:1160px) {
   .button {
         display: inline-block;
         padding: 14px 30px 14px 30px;
         background-color: #f70505;
         border-radius: 4px;
         font-weight: bold;
         color: #fff;
         transition: all 0.3s;
      }

            .nav__items {
               display: flex;
               flex: 1 1 20%;
               column-gap: 30px;
               margin-left: 60px;
            }
                        .account-one {
                           margin-left: 10px;
                           font-weight: bold;
                           display: flex;
                           transition: all 0.6s;
                        }
                                                .header__container {
                                                   padding-top: 150px;
                                                   display: flex;
                                                   align-items: center;
                                                   flex-wrap: wrap;
                                                   /*grid-template-columns: repeat(2, auto);
                                                   justify-content: space-between;*/
                                                }
                                                                                                .header__title {
                                                                                                   max-width: 100%;
                                                                                                   font-size: 64px;
                                                                                                   font-weight: bold;
                                                                                                   letter-spacing: 1px;
                                                                                                   line-height: 83px;
                                                                                                }
         }


@media (max-width:996px) {
   .button {
         display: inline-block;
         padding: 10px 23px 10px 23px;
         background-color: #f70505;
         border-radius: 4px;
         font-weight: bold;
         color: #fff;
         transition: all 0.3s;
      }
            .nav__container {
               display: flex;
               align-items: center;
               padding-top: 33px;
               padding-bottom: 30px;
               justify-content: space-evenly;
            }
   .nav__items {
         position: fixed;
         width: 100%;
         height: 100%;
         top: 120px;
         left: 0;
         z-index: 100000;
         background: #a80a04;
         display: none;
         flex-direction: column;
         flex: 1 1 20%;
         row-gap: 30px;
         text-align: center;
         font-size: 20px;
         margin: 20px auto;
         padding-top: 20px;
         text-transform: uppercase;
      }
            .nav__cta {
               display: block;
            }
                        .nav-cta__account {
                           display: flex ;
                           justify-content: flex-start;
                           padding-top: 15px;
                        }
.menu-burger__line {
      display: block;
      float: right;
      height: 1.5px;
      background: #000;
   }
      .header-stat__contant {
         display: block;
         width: 100%;
         column-gap: 12px;
        text-align: center;
      }
      .header-stat__decore {
         display: none;
      }
}
@media (max-width:763px) {

.nav__container {
      display: flex;
      align-items: center;
      padding-top: 33px;
      padding-bottom: 30px;
      justify-content: space-around;
   }

}